<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hello.css">
    <title>{%block title%} Default title {%endblock%}</title>
</head>
<body>

    <h1>Flash message (if any)</h1>


    {%with messages= get_flashed_messages()%}

        {%if messages%}

            {%for message in messages%}

                <ul>
                    <li>{{message}}</li>
                </ul>

            {%endfor%}

        {%endif%}

    {%endwith%}

    {%block content%}

    

    {%endblock%}
    
</body>
</html>