{%extends 'base.html'%}

{%block title%}

Home

{%endblock%}

{%block content%}

<h1>Message from server:</h1>

<p> {{message}} </p>

<h1>Session controls</h1>

<a href="{{url_for('index')}}">Click here to get to home page.</a><br>

<a href="{{url_for('set_session_data')}}">Click here to set session data.</a><br>

<a href="{{url_for('get_session_data')}}">Click here to get session data.</a><br>

<a href="{{url_for('clear_session')}}">Click here to clear session data.</a><br>

<a href="{{url_for('set_custom_cookie')}}">Click here to set custom cookie.</a><br>

<a href="{{url_for('get_custom_cookie')}}">Click here to get custom cookie.</a><br>

<a href="{{url_for('clear_custom_cookie')}}">Click here to clear custom cookie.</a><br>

<a href="{{url_for('login')}}">Click here to login.</a><br>



{%endblock%}